[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
pandas = "*"
netaddr = "*"
pytricia = "*"
altair = "*"
geohash2 = "*"
maxminddb = "*"
maxminddb-geolite2 = "*"
altair-saver = "*"
selenium = "*"
matplotlib = "*"

[dev-packages]
pytest = "*"
pre-commit = "*"
black = "==20.8b1"
flake8 = "*"
pylint = "*"

[requires]
python_version = "3.9"
